<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.matheus.s_weld">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ActMain"
            android:label="@string/title_activity_act_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Processo"
            android:label="@string/title_activity_processo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Consumiveis"
            android:label="@string/title_activity_consumiveis"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Metal"
            android:label="@string/title_activity_metal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Simbologia"
            android:label="@string/title_activity_simbologia"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ComputacaodeDados"
            android:label="@string/title_activity_computacaode_dados"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>